.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #191919;
  padding: 1rem;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  font-size: xx-large;
}

.nav-item a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Usa el color del elemento padre (.nav-item) */
}

.nav-item-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f27d16;
  font-size: xx-large;
}

.nav-item-main a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Usa el color del elemento padre (.nav-item-main) */
}

.my-profile-recipes {
  width: 100vw;
  justify-content: center;
  margin-right: 200px;
  display: flex;
}

.my-profile-recipes > * {
  margin-top: 10px; /* Espacio entre cada componente */
  margin-bottom: 10px; /* Espacio entre cada componente */
  margin-left: 150px;
  margin-right: 200px;
}
